h5py
omegaconf
numpy==1.23.5
opencv-python
huggingface_hub
pillow
transformers
DISTS_pytorch
pytorch_msssim
tqdm
scipy
scikit-image
tensorboard==1.15
matplotlib
timm==0.5.4
diffusers
xformers
opencv-contrib-python
imgaug
ninja
albumentations
jupyterlab
ruamel.yaml
trimesh
pyyaml
imageio
open3d
transformations
einops
gdown
flash-attn
nodejs